@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
	font-family: 'Merriweather Sans', sans-serif;
	color: #003049;
}
a{
	color: inherit;
	text-decoration: none;
}
body{
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: white;
	background-image: url("../../../../partials/dot-grid.png");
}


header{
	padding: 0 100px;
	flex-shrink: 0;
	height: 60px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px rgba(0,48,73,0.7);
	background: white; 
}
nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
nav div{
	display: flex;
}
nav a{
	display: flex;
	height: 100%;
	align-content: center;
	padding: 0 20px;
	background-color: white;
	transition: all .2s linear;
}
nav a span{
	margin: auto;
	color: inherit;
}
nav a:hover{
	background-color: #003049;
	color: white;
}
.dropdown{
	display: block;
	float: left;
	overflow: hidden;
}
.dropbtn{
	cursor: pointer;
}
.drop-content{
	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 2;
}
.dropdown:hover .drop-content{
	display: block;
}
#search{
	height: 100%;
}

#search div{
	margin: auto;
	margin-right: 0;
	float: right;
	position: relative;
	border: 1px solid #003049;
	border-radius: 20px;
	display: flex;
	padding-left: 10px;
	justify-content: center;
}

.searchTerm {
	margin: auto;
  	border: none;
  	height: 20px;
  	outline: none;
  	border-radius: inherit;
}

.searchButton {
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}
.searchButton:hover{
	background: #F3F3F3;
}

.search-block{
	display: block;
	float: left;
	overflow: hidden;
}
.search-results{
	display: block;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 2;
}
main{
	margin: auto 100px;
	margin-top: 20px; 
	flex-grow: 1;

}
.toon-container{
	background-color: white;
}
.toon-row{
	display: flex;
}
.toon{
	width: 200px;
	height: 350px;
	margin: 0 auto;	
	position: relative;
}
.toon:first-child{
	margin-left: 0;	
}
 .toon:last-child{
	margin-right: 0;	
}
.toon-img{
	width: 200px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.toon-title{
	margin-top: 5px;
	margin-bottom: 0; 
}
.toon-bookmark{
	z-index: 2;
	position: absolute;
	top: 10px;
	left: 10px;
	color: gold;
	cursor: pointer;
}
.toon-genre{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: inherit;
}
.toon-hover{
	width: 100%;
	height: 100%;
	background:rgba(0,48,73,0.7);
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	opacity: 0;
	transition: opacity .1s linear;
	z-index: 1;
}
.toon-hover:hover{
	opacity: 5;
}
.toon-hover p{
	position: absolute;
	top: 30px;
	left: 10px;
	color: white;
	display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
i{
	color: inherit;
}
.d-flex{
	display: flex;
}
.d-flex img{
	width: 200px;
	height: 300px;
	object-fit: cover;
	margin-right: 20px;
}
.d-flex td:first-child{
	font-weight: 700;
	padding-right: 20px; 
}
.btn{
	white-space: nowrap;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #003049;
	color: white;

	font-weight: 500;
}
.btn.edit{
	background-color: green;
}
.btn.delete{
	background-color: red;
}
.btn-sml{
	white-space: nowrap;
	padding: 2px 5px;
	border-radius: 5px;
	background-color: #003049;
	color: white;
	font-size: .9em;
	font-weight: 400;
}
.btn-sml.edit{
	background-color: green;
}
.btn-sml.delete{
	background-color: red;
}

.chapter-list ul{
	max-height: 300px;
	list-style-type:none;
	padding-left: 0;
	overflow-y: auto;
}
.chapter-list li{
	font-size: 16px;
	font-weight: 600;
	border-top: 1px solid rgba(0,48,73,0.5);
	padding: 10px;
}
.chapter-list li:hover{
	background-color: rgba(0,48,73,0.3);
	color: white;
}

.reader{
	text-align: center;
}
.reader img{
	font-size: 0;
	margin: auto;
	display: block;
}
.reader h2{
	text-align: center;
}
.ch-nav{
	display: flex;
	margin-bottom: 20px;
}
.ch-nav a{
	margin: auto;
}
a.left{
	margin-left: 50px;
}
a.right{
	margin-right:50px;
}


/*Create Form*/
.create-form{
	padding: 10px;
	background-color: white;
}
.form-group{
	display: block;
	margin-bottom: 10px;
}
.form-group label{
	font-size: 14px;
	display: block;
}
.form-group img{
	display: block;
}
.form-group input[type=checkbox]{
	display: none;
}
.form-group input[type=checkbox] + label {
	cursor: pointer; 
	display: inline-block;
 	border-radius: 5px;
 	padding: 3px;
 	margin: 0 5px 5px 0;
 	border: solid 1px #003049;
}
.form-group input[type=checkbox]:checked + label {
  	background-color: #003049;
  	color: white;
} 
.form-control, .picture-label{
	display: block!important;
	font-size: 16px!important;
	padding: 5px;
	border-width: .5px;
	margin: 0;
}
.form-control-file{
	display: none;
}

option{
	width: 100%;
}










footer{
	border-top: solid 1px #E3E3E3; 
	background: #F7F7F7;
	height: 100px;
	flex-shrink: 0;
	display: flex;
	font-size: 14px;
}
footer span{
	background: inherit;
	margin: auto;	
	color: #A3A3A3;
}